<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Chain 76 Use Cases &mdash; {{ page.title }}</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">

    <!-- UNUSED STYLES
    <link href="assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    -->
  </head>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="page-casestudy">

        <div class="container-fluid px-lg-0">
          <div class="row">
            <div class="col-lg-5 px-0">
              <div class="sticky-top h-50vh h-lg-100vh">
                <div class="owl-carousel owl-theme owl-dots-inner owl-theme-white h-100" data-options='{"items":1,"autoplay":true,"nav":true,"loop":true,"autoplayHoverPause":true,"animateOut":"fadeOut"}' data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'
                  data-zanim-trigger="scroll">
{% for image in page.images %}
                  <img class="fit-cover h-lg-100vh" src="assets/img/use-cases/{{ image }}" alt="{{ image }}">
{% endfor %}
                </div>
              </div>
            </div>
            <div class="col-lg-7 bg-white py-6 py-lg-4 py-xl-6">
              <div class="row h-100 justify-content-center">
                <div class="col-lg-10">
                  <div data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                      <div data-zanim-xs='{"delay":0.1}'>
                        <a class="btn btn-link pl-0 text-black" href="/"><span class="fas fa-chevron-left" data-fa-transform="down-1"></span><span class="pl-2 font-weight-bold">all use cases</span></a>
                      </div>
                    </div>
                    <div class="overflow-hidden">
                      <h2 data-zanim-xs='{"delay":0.2}'>{{ page.title }}</h2>
                    </div>
                    <div class="row mt-4">
                      <div class="col-xl-9">
                        <div class="overflow-hidden">
                          <p class="lead text-sans-serif font-weight-normal text-600" data-zanim-xs='{"delay":0.3}'>{{ page.summary }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col" data-zanim-timeline='{"delay":0.6}' data-zanim-trigger="scroll">
                      <div class="overflow-hidden">
                        <h6 class="mt-6 text-uppercase ls" data-zanim-xs='{"delay":0.1}'>Company</h6>
                      </div>
                      <div class="overflow-hidden">
{% for company in page.companies %}
                        <p class="text-sans-serif text-600" data-zanim-xs='{"delay":0.2}'>{{ company }}</p>
{% endfor %}
                      </div>
                      <div class="overflow-hidden">
                        <h6 class="mt-4 text-uppercase ls" data-zanim-xs='{"delay":0.1}'>Status</h6>
                      </div>
                      <div class="overflow-hidden">
                        <p class="text-sans-serif text-600" data-zanim-xs='{"delay":0.2}'>{{ page.status }}</p>
                      </div>
                      <div class="overflow-hidden">
                        <h6 class="mt-4 text-uppercase ls" data-zanim-xs='{"delay":0.1}'>Tags</h6>
                      </div>
                      <div class="overflow-hidden">
                        <ul class="list-unstyled text-sans-serif text-600" data-zanim-xs='{"delay":0.2}'>
{% for tag in page.tags %}
                          <li>{{ tag }}</li>
{% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row my-6">
{% for image in page.images %}
                    <div class="col-sm-6">
                      <img class="rounded img-fluid" src="assets/img/use-cases/{{ image }}" alt="{{ image }}" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll">
                    </div>
{% endfor %}
                  </div>
                  {{ content }}
                </div>
{% for event in page.events %}
                <div class="col-12 bg-200 py-7 my-6 text-center">
                  <div class="row justify-content-center">
                    <div class="col-lg-10">
                      <div class="overflow-hidden">
                        <p class="text-900 fs-2 text-sans-serif font-weight-light" data-zanim-xs='{"delay":0.1,"from":{"scale":1.1,"opacity":1},"to":{"scale":1,"opacity":1}}' data-zanim-trigger="scroll">{{ event }}</p>
                      </div>
                      <div class="overflow-hidden">
                        <h5 class="fs-0 text-700 font-weight-bold mt-4" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll"><span class="text-black">Presented</span></h5>
                      </div>
                    </div>
                  </div>
                </div>
{% endfor %}
                <div class="col-lg-10 bg-white py-6 py-lg-4 py-xl-6">
                  <h6 class="mt-4 text-uppercase ls" data-zanim-xs='{"delay":0.1}'>References</h6>
{% for reference in page.references %}
                  <p><a href="{{ reference }}">{{ reference }}</a></p>
{% endfor %}
                  <hr>
                  <p>
                    This use case first appeared on Chain 76 Use Cases &mdash; a review of blockchain technology implementations and deployments in the pharma and healthcare sectors.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="container">
        <a href="https://chain76.org"><img style="height:24px;width:24px" src="assets/img/favicons/favicon-32x32.png"> Chain 76</a> &mdash; Pharmaceuticals, supply chain, and blockchain
      </div>
    </footer>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/jtap/jquery.tap.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/lib/owl.carousel/owl.carousel.js"></script>
    <script src="assets/js/theme.js"></script>
    <!-- UNUSED SCRIPTS
    <script src="assets/lib/loaders.css/loaders.css.js"></script>
    <script src="assets/lib/remodal/remodal.js"></script>
    -->

  </body>

</html>
